h1{
    color: azure;
    background: black;
    text-align: center;
}

body{
    background-color: grey;
}

footer{
    color: white;
    text-align: right;
}

p{
    text-align: center;
    color: darkcyan;
    background: black;
}

